* {
    box-sizing: border-box;
}
header {
    padding: 5px;
    margin: 5px;
    background-color: #F5DEB3;
    color: black;
    text-align: center;
    border: 2px solid black;
}
body {
    background-color: #DEB887;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    padding: 20px;
    margin: 20px;
    background-color: #F5DEB3;
    color: black;
    border: 1px solid black;
}